@import "variables.scss";

.header-menu{
    background-image: url("../img/banner-hs.jpg");
    background-attachment: fixed;
    background-position: center;
    height: 700px;
    background-size: cover;
    position: relative;
    .container{
        height: 500px;
        position: relative;
        .header-box{
            position: absolute;
            bottom: 0;
            span{
                font-size: 3.5rem;
            }
        }
    }
    
    &::before{
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(to right, $azul, $celeste);
        opacity: 0.4;
    }
    li:hover  .nav-link{
        color: $amarillo !important;
    }
    a:hover{
        color: $amarillo;
    }
    .active{
        color: $amarillo !important;
    }
    .turismo{
        background-color: $accent;
    }
    
}



@media screen and (max-width:768px){
    .header-menu{
        nav{
            background-color: $negro;
            color: white;
        }
    }
    .dropdown-menu{
        border: none;
        background-color: $negro;
        .dropdown-item{
            color: white;
            text-align: center;
        }
    }
}