@import "variables.scss";
.noticias{
    a{
        &:hover h3 {
            color: $accent;
        }
        &:hover h4 {
            color: $accent;
        }

    }
    padding-top: none;
    .noticias-secundarias{
        .row{
            padding: 0 !important;
        }
    }
    .imagen-noticia-secundaria{
        object-fit: cover;
        width: 100%;
    }
    .texto-noticia-secundaria{
        height: 100px;

    }
    .noticia-principal{
        min-height: 350px;
    }
}
.muni-transparente{
    background-image: url("../img/transparente.jpg");
    background-size: cover;
    position: relative;
    color: white;
    .muni-texto{
        position: relative;
        h2{
            text-align: center;
            text-transform: capitalize;
        }
        a{
            display: block;
            text-align: left;
            color: $blanco;
            &:hover{
                color: $amarillo;
            }
        }

    }
    &::before{
        content: "";
        background: $azul;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 0.9;
    }
}
.conociendo{
    text-align: center;
    .conociendo-img{
        display: flex;
        justify-content: center;
    }
    h3{
        
        color: $azul;
    }
    img{
        width: 100%;
        object-fit: cover;
        height: 400px;
        
    }
    .img-doble{
        height: 250px;
    }
}
.planes{
    background-color: $azul;
    color: $blanco;
    h3{
        text-align: center;
    }
    img{
        width: 324px;
        height: 325px;
        object-fit: cover;
    }
    span{
        font-weight: 600;
        color: $blanco;
        text-align: left;
    }
}
.home-pagos{
    h3{
        text-align: center;
        text-transform: capitalize;
        color: $azul;
    }
    .link-pago{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    a{
        display: flex;
        align-items: center;
        justify-content: center;
        color: $azul;
        height: 100px;
        max-width: 200px;
        min-width: 200px;
        text-transform: capitalize;
        border: 2px solid $azul;
        -webkit-transition:all .2s linear;
        -o-transition:all .2s linear;
        transition:all .2s linear;
        &:hover{
            background-color: $accent;
            color: $blanco;
            -webkit-transition:all .2s linear;
            -o-transition:all .2s linear;
             transition:all .2s linear
        }
    }
}