.login{
    margin: 0;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-image: url("../img/banner.jpg");
    position: relative;
    &::before{
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(to right, $azul, $celeste);
        opacity: 0.4;
    }
}
.login-box{
    min-width: 400px;
    position: relative;
    background-color: white;
    .login-icon{
        height: 30px;
        .fa-google{
            color: #AE3224;
        }
        .fa-twitter{
            color: #0068B1;
        }
    }
}