.portal-turistico{
    height: 500px;
    margin-top: 75px;
    img{
        height: 560px;
        object-fit: cover;
        transform: translateY(-100px);
    }
    .portal-text{
        height: 500px;
        transform: translateY(-80px);
    }
}
.lugar-emblema{
    a:hover span{
        background-color: $accent;
    }
}

@media screen and (max-width: 768px) {
    .portal-turistico{
        height: auto;
        img{
            transform: none;
            height: auto;
        }
        .portal-text{
            padding-top: 20px;
            height: auto;
            transform: none;
        }
    }
}